.blank{
  color: red;
}
.Navbar{
  background-color: #3d8c71 !important;
}
.formFirld{
  padding-top: 20px;
}
.form{
  width: 50%;
  margin: auto;
}
.mainBann{
  display: flex;
    align-items: center;
    justify-content: start;
    height: 700px;
}
