.bannerImg{
    position: relative;
  }
  .bannerImg::before{
    background-image: url('./images/bg.webp');
    content: "";
    width: 100%;
    position: absolute;
    height: 34ch;
    z-index: -1;
    background-size: cover;
    filter: brightness(0.5);
  }
  .ban-text{
    padding-top: 130px;
    padding-left: 50px;
  }